@model NorthStorm.Models.ViewModels.JobTransferEditViewModel

@{
    string pageTitle = "النقل الداخلي";
    ViewData["Title"] = pageTitle + " / " + "تعديل قيد";
}

<h3>@ViewData["Title"]</h3>
<hr />

<p>
    <span class="text-danger h4">
    </span>
</p>

<form asp-action="Edit">

    <div class="card bg-light mb-3">
        <div class="card-header">
            بيانات القيد
        </div>
        <div class="card-body">

            <div class="row col-md-12">

                <div class="row col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="JobTransferId" />
                    <div class="form-group col-2 ">
                        <label asp-for="ReferenceNo" class="control-label"></label>
                        <input asp-for="ReferenceNo" class="form-control" />
                        <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                    </div>

                    <div class="form-group col-2">
                        <label asp-for="ReferenceDate" class="control-label"></label>
                        <input asp-for="ReferenceDate" class="form-control" />
                        <span asp-validation-for="ReferenceDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="DestinationLevelId" class="control-label"></label>
                        <select asp-for="DestinationLevelId" class="form-control" asp-items="ViewBag.LevelId">
                            <option value="">-- إختر التشكيل --</option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                    </div>
                </div>
                <div>
                    <br />
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-2">
                        <label for="employeeIdInput" class="control-label">رقم أو إسم الموظف</label>
                        <input type="text" id="employeeIdInput" class="form-control" />
                        <span class="text-danger" id="employeeIdError"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <table id="emplyeesTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">رقم الموظف</th>
                                    <th scope="col">الإسم الكامل</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="selectedEmployees">
                                @foreach (var item in Model.Employees)
                                {
                                    <tr data-id="@item.EmployeeId">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger float-right remove-employee">-</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <br />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-2">
                    </div>
                    <div class="form-group col-md-8">
                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <br />
        </div>
    </div>
    <div class="row col-md-12">
        <div class="form-group col-md-2">
            <a asp-action="Index">إلغاء</a>
        </div>
        <div class="form-group col-md-8">
        </div>
        <div class="form-group col-md-2">
            <input type="submit" value="حفظ" class="btn btn-primary w-100" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

            {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script type="text/javascript">
        $(function () {
            //var selectedEmployees = @Html.Raw(Json.Serialize(Model.Employees.Select(e => e.EmployeeId).Select(id => new { value = id, label = id + " - " + "EmployeeNamePlaceholder" })));
            var selectedEmployees = @Html.Raw(Json.Serialize(Model.Employees.Select(e => new { value = e.EmployeeId, label = e.FullName })));

            $("#employeeIdInput").autocomplete({
                source: '@Url.Action("Autocomplete", "JobTransfers")',
                minLength: 2,
                select: function (event, ui) {
                    // Check if the employee is already selected
                    if (!selectedEmployees.some(emp => emp.value === ui.item.value)) {
                        $("#employeeIdError").text("");

                        // Add selected employee to the list
                        selectedEmployees.push(ui.item);
                        $("#selectedEmployees").append(
                            `<tr data-id="${ui.item.value}">
                                                <td>${ui.item.value}</td>
                                                <td>${ui.item.name}</td>
                                                <td>
                                                <button type="button" class="btn btn-sm btn-danger float-right remove-employee">-</button>
                                                </td>
                                                </tr>`
                        );
                    } else {
                        $("#employeeIdError").text("لا يمكن تكرار الموظف!");
                        event.preventDefault();
                        return;
                    }
                    // Clear the input field
                    $("#employeeIdInput").val('');
                    return false;
                }
            });

            // Handle remove employee button click
            $(document).on('click', '.remove-employee', function () {
                var item = $(this).closest('tr');
                var employeeId = item.data('id');
                selectedEmployees = selectedEmployees.filter(emp => emp.value !== employeeId);
                item.remove();
            });

            // Form submission
            $("form").submit(function (event) {
                if (selectedEmployees.length === 0) {
                    $("#employeeIdError").text("رجاء إختر موظف واحد على الأقل!");
                    event.preventDefault();
                    return;
                }

                // Create hidden input fields for selected employee IDs
                // selectedEmployees.forEach(emp => {
                //     $(this).append(`<input type="hidden" name="EmployeeIds" value="${emp.value}" />`);
                // });
                selectedEmployees.forEach(emp => {
                    $(this).append(`<input type="hidden" name="Employees[${selectedEmployees.indexOf(emp)}].EmployeeId" value="${emp.value}" />`);
                    $(this).append(`<input type="hidden" name="Employees[${selectedEmployees.indexOf(emp)}].FullName" value="${emp.label}" />`);
                });
            });
        });

    </script>
    }
}