@model IEnumerable<NorthStorm.Models.Employee>

    @using NorthStorm.Models.ViewModels;

@{
    string pageTitle = "جدول الموظفين";
    ViewData["Title"] = pageTitle;
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pager = ViewBag.Pager;
}

<h3>@ViewData["Title"]</h3>
<hr />

<p>
    <a asp-action="Create" class="d-flex justify-content-end h5">
        إنشاء قيد
    </a>
</p>
<div class="card bg-light mb-3">
    <div class="card-header">
        <partial name="_topBar" model="@pager" />
    </div>

    <table class="table card-body">
        <thead>
            <tr>
                <th>
                    الصورة
                </th>
                <th>
                    <i class="@sortModel.GetColumn("EmployeeId").SortIcon" arial-hidden="true"></i>
                    <a asp-action="Index"
                       asp-route-sortExpression="@sortModel.GetColumn("EmployeeId").SortExpression"
                       asp-route-pg="@pager.CurrentPage"
                       asp-route-pageSize="@pager.PageSize"
                       asp-route-SearchText="@ViewData["SearchText"]">
                        @Html.DisplayNameFor(model => model.Id)
                    </a>
                </th>
                <th>
                    <i class="@sortModel.GetColumn("FullName").SortIcon" arial-hidden="true"></i>
                    <a asp-action="Index"
                       asp-route-sortExpression="@sortModel.GetColumn("FullName").SortExpression"
                       asp-route-pg="@pager.CurrentPage"
                       asp-route-pageSize="@pager.PageSize"
                       asp-route-SearchText="@ViewData["SearchText"]">
                        @Html.DisplayNameFor(model => model.FullName)
                    </a>
                </th>
                <th>
                    <i class="@sortModel.GetColumn("MotherName").SortIcon" arial-hidden="true"></i>
                    <a asp-action="Index"
                       asp-route-sortExpression="@sortModel.GetColumn("MotherName").SortExpression"
                       asp-route-pg="@pager.CurrentPage"
                       asp-route-pageSize="@pager.PageSize"
                       asp-route-SearchText="@ViewData["SearchText"]">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.religion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.race)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string serverPath = "/Photos/" + item.Id + ".jpg";
                var localPath = Directory.GetCurrentDirectory() + "\\wwwroot\\Photos\\" + item.Id + ".jpg";
                if (!File.Exists(localPath))
                {
                    serverPath = "/Photos/nophoto.png";
                }
                <tr>
                    <td>
                        <img src="@serverPath" class="rounded-circle" width="32" height="32" alt="Avatar" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @(item.gender == null
                            ? null
                            : @Html.DisplayFor(modelItem => item.gender.Name)
                            )
                    </td>
                    <td>
                        @(item.religion == null
                            ? null
                            : @Html.DisplayFor(modelItem => item.religion.Name)
                            )
                    </td>
                    <td>
                        @(item.race == null
                            ? null
                            : @Html.DisplayFor(modelItem => item.race.Name)
                            )
                    </td>
                    <td>
                        @(item.nationality == null
                            ? null
                            : @Html.DisplayFor(modelItem => item.nationality.Name)
                            )
                    </td>
                    <td>
                        @(item.status == null
                            ? null
                            : @Html.DisplayFor(modelItem => item.status.Name)
                            )
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-Id="@item.Id">
                            <span class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-eye" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="عرض التفاصيل"></i>
                            </span>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <span class="btn btn-sm btn-outline-warning">
                                <i class="fa fa-edit" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="تعديل الأمر"></i>
                            </span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">
                            <span class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="حذف الأمر"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer" style="height:50px">
        <partial name="_bottomBar" model="@pager" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}